
@{
    ViewData["Title"] = "Home";
}

<h1>Welcome</h1>

<div class="row">
    For calculator just click &nbsp; <a asp-controller="Calculator" asp-action="Index">here</a>
</div>
<div class="row">
    use a route: /calculator
</div>
<div class="row">
    or click on tab Calculator
</div>